body {
    background-color: beige;
}

#headline {
    font-family: 'Montserrat', sans-serif;
    color: #6643ac;
    font-size: 40px;
    padding-top: 50px;
    text-align: center;
}

#link {
    padding: 20px;
}

#linkBox {
    font-family: 'Montserrat', sans-serif;
    color: #6643ac;
    font-size: 30px;
    text-align: center; 
}

#resume {
    width: 100%;
    height: 100%;
}

#resumeBox {
    display: block;
    margin: auto;
    height: 700px;
    width: 50%;
    border: 2px solid black;
}